In [1]:
%%capture
%run Data_Cleaning.ipynb

In [2]:
three_ff_cleaned_df.head(4)

,Date,AAPL.O,NVDA.O,MSFT.O,AMZN.O,LLY,WMT,XOM,MA,UNH,...,ASTI.O,AWH.O,SUNE.O,TCRT.O,WINT.O,DGLY.O,Mkt-RF,SMB,HML,RF
1,2024-12-31,5.368793,-2.906200,-0.463928,5.384187,-2.979772,-2.351763,-9.220379,-1.202457,-18.752682,...,20.271151,-23.302366,-19.928709,-30.330739,-41.788881,-39.532439,-3.17,-2.73,-2.95,0.37
2,2024-11-30,4.931489,4.052065,4.124420,10.911419,-4.233013,12.109934,1.005376,6.462109,7.784639,...,-17.794244,-1.117330,-20.490979,22.994961,-28.210576,-18.658596,6.51,4.63,-0.05,0.40
3,2024-10-31,-3.090176,8.912267,-5.726778,0.037561,-6.553683,1.475134,-0.376069,1.165719,-3.512431,...,22.001366,10.536052,-53.167279,-45.154157,-122.312292,-10.109612,-0.97,-1.01,0.89,0.39
4,2024-09-30,1.731645,1.719240,3.106074,4.293069,-8.030489,4.456998,-0.612351,2.141024,-0.939677,...,-20.102575,-24.027983,-176.326895,21.772348,-122.180450,-5.608947,1.74,-0.17,-2.59,0.40

In [3]:
five_ff_cleaned_df.head(4)

,Date,AAPL.O,NVDA.O,MSFT.O,AMZN.O,LLY,WMT,XOM,MA,UNH,...,SUNE.O,TCRT.O,WINT.O,DGLY.O,Mkt-RF,SMB,HML,RMW,CMA,RF
1,2024-12-31,5.368793,-2.906200,-0.463928,5.384187,-2.979772,-2.351763,-9.220379,-1.202457,-18.752682,...,-19.928709,-30.330739,-41.788881,-39.532439,-3.17,-3.87,-2.95,1.82,-1.10,0.37
2,2024-11-30,4.931489,4.052065,4.124420,10.911419,-4.233013,12.109934,1.005376,6.462109,7.784639,...,-20.490979,22.994961,-28.210576,-18.658596,6.51,4.78,-0.05,-2.62,-2.17,0.40
3,2024-10-31,-3.090176,8.912267,-5.726778,0.037561,-6.553683,1.475134,-0.376069,1.165719,-3.512431,...,-53.167279,-45.154157,-122.312292,-10.109612,-0.97,-0.88,0.89,-1.38,1.03,0.39
4,2024-09-30,1.731645,1.719240,3.106074,4.293069,-8.030489,4.456998,-0.612351,2.141024,-0.939677,...,-176.326895,21.772348,-122.180450,-5.608947,1.74,-1.02,-2.59,0.04,-0.26,0.40